@if(exercise){
<mat-card>
    <mat-card-header class="container align-row-around">

        <h2 mat-card-subtitle tabindex="-1" #exerciseTitle>Exercício {{exercise.number}}</h2>

        <button mat-raised-button color="accent" (click)="onBackToExerciseListActivated()">
            <mat-icon>arrow_back</mat-icon> Fechar exercício</button>

    </mat-card-header>
    <mat-card-content>

        <div id="container-exercise-execution-content" class="container">
            <div class="item-60 container-column center">
                <p>
                    Para praticar o que foi abordado até aqui, responda à pergunta marcando a alternativa que você acha
                    mais
                    adequada e ative o botão "Confirmar resposta". Após isso uma mensagem será exibida com a informação
                    sobre a
                    resposta e um botão disponibilizado para que você vá para próxima pergunta.
                </p>

            </div>
            <div id="area-line-formation" class="item-40 container-column center">
                <mat-card>
                    <mat-card-header>
                        <h3 mat-card-title>Pergunta de múltipla escolha</h3>
                        <mat-card-subtitle [innerHTML]="currentQuestionData?.question"
                            id="question-statement"></mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-radio-group aria-labelledby="question-statement" [value]="selectedOption" (change)="onRadioChange($event)">
                            @for(option of currentQuestionData?.answers; track $index; let i = $index) {
                            <div>
                                <mat-radio-button [value]="i" [id]="'opt-'+i">
                                    <span [innerHTML]="option"></span>
                                </mat-radio-button>
                            </div>
                            }
                        </mat-radio-group>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="container center">
                            <button id="btn-confirm" mat-raised-button color="primary" (click)="checkAnswer()"
                                [disabled]="isConfirmDisabled">
                                Confirmar resposta
                            </button>
                        </div>
                    </mat-card-actions>
                </mat-card>
                @if(showConfirmationArea){
                <div id="confirmation-area" class="container-column center">
                    <mat-card>
                        <mat-card-header>
                            <h3 mat-card-subtitle id="confirmation-title" tabindex="-1">{{confirmationTitle}}</h3>
                        </mat-card-header>
                        <mat-card-content>
                            <p id="confirmation-text" [innerHTML]="confirmationText"></p>

                        </mat-card-content>
                        <mat-card-actions>
                            <div class="container align-row-around">
                                <div><button mat-raised-button color="accent" (click)="onBackToExerciseListActivated()">
                                        <mat-icon>arrow_back</mat-icon>
                                        Voltar para Lista de exercícios</button></div>
                                @if(isNextExerciseAvailable){
                                <div><button mat-raised-button color="accent" (click)="emitNextExercise()">
                                        <mat-icon>arrow_forward</mat-icon>
                                        Próximo exercício</button></div>

                                }
                            </div>
                        </mat-card-actions>
                    </mat-card>

                </div>
                }

            </div>

        </div>

    </mat-card-content>

</mat-card>
}