<section id="instruction-area">
    <h2 #questionTitle tabindex="-1">Perguntas e respostas</h2>
    <p>
        Para praticar o que foi abordado até aqui, responda à pergunta marcando a alternativa que você acha mais
        adequada e ative o botão "Confirmar resposta". Após isso uma mensagem será exibida com a informação sobre a
        resposta e um botão disponibilizado para que você vá para próxima pergunta.
    </p>
</section>
@if(currentQuestionData){
<section *ngIf="!showConfirmationArea && !showScoreArea">
    <h3 id="question-title" #questionTitle tabindex="-1">Pergunta {{exercise.number}}</h3>
    <progress id="progress" [value]="getProgressBarPercentage()" max="100"></progress>

    <fieldset id="question-body" required>
        <legend [innerHTML]="currentQuestionData.question"></legend>
        @for(option of currentQuestionData.answers; track $index; let i= $index){
        <div>
            <input type="radio" name="options" [id]="'opt-'+i" [value]="i" aria-required="true"
                (change)="onRadioChange()">
            <label [for]="'opt-'+i" [innerHTML]="option"></label>
        </div>
        }
    </fieldset>
    <button id="btn-confirm" (click)="checkAnswer()" [disabled]="isConfirmDisabled">Confirmar resposta</button>

</section>
<section *ngIf="showConfirmationArea">
    <h3 id="confirmation-title" tabindex="-1">{{confirmationTitle}}</h3>

    <p id="confirmation-text" [innerHTML]="confirmationText"></p>
    <div><button mat-raised-button color="accent" (click)="onBackToExerciseListActivated()">
            <mat-icon>arrow_back</mat-icon>
            Voltar para Lista de exercícios</button></div>
    @if(isNextExerciseAvailable){
    <div><button mat-raised-button color="accent" (click)="emitNextExercise()">
            <mat-icon>arrow_forward</mat-icon>
            Próximo exercício</button></div>

    }


</section>
<section id="score-area" *ngIf="showScoreArea">
    <h2 id="score-title" tabindex="-1">{{scoreTitle}}</h2>
    <p id="score-text" [innerHTML]="scoreText"></p>

</section>
}