<mat-toolbar color="primary">
    <mat-toolbar-row class="align-row-around">
        <h1 #title tabindex="-1">Game Code App</h1>

        @if(authService.user$ | async) {
        <div><mat-icon>person</mat-icon> Olá, {{(authService.user$ | async)?.displayName || (authService.user$ | async)?.email}}</div>
        }

        <div><button mat-button color="warn" (click)="logout()"><mat-icon>logout</mat-icon> Sair do
                Sistema</button></div>
    </mat-toolbar-row>
</mat-toolbar>
<app-module-list></app-module-list>