@if(exercise){
<mat-card class="exercise-card">
    <mat-card-title>
        <h2 tabindex="-1" #exerciseTitle>Exercício {{exercise.number}}</h2>
    </mat-card-title>
    <mat-card-content>

        <button mat-raised-button color="accent" (click)="onBackToExerciseListActivated()">
            <mat-icon>arrow_back</mat-icon> Fechar exercício</button>

        <div class="exercise-statement" [innerHTML]="trustedExerciseStatement"></div>

        <div class="exercise-container">

            <div class="formed-lines-area">
                <h3>Linhas formadas:</h3>
                <ol mat-list>
                    @for(line of formedLinesCorrectly; track $index){
                    <mat-list-item>{{ line }}</mat-list-item>
                    }
                    @empty {
                    <mat-list-item>Nenhuma linha formada ainda...</mat-list-item>
                    }
                </ol>
            </div>

            <div class="right-side">
                <div class="shuffled-elements-area">
                    <h3>Elementos embaralhados</h3>
                    <ul mat-list>
                        @for(element of shuffledElements; track $index){
                        <mat-list-item>
                            <button mat-stroked-button (click)="addElementToFormedLine(element)">{{ element
                                }}</button>
                        </mat-list-item>
                        }
                    </ul>
                </div>

                <div class="new-line-area">
                    @if(!isExerciseCompleted){
                    <h3>Forme a linha {{currentLineIndex + 1}}</h3>
                    @if(formedLine){
                    <mat-form-field appearance="outline" class="formed-line">
                        <input matInput type="text" [value]="formedLine" readonly>
                    </mat-form-field>
                    }
                    @else {<div>Ainda nenhum elemento foi adicionado para formar esta linha...</div>}

                    <button mat-icon-button color="warn" (click)="removeElementFromFormedLine()"
                        [disabled]="!formedLine">
                        <mat-icon>delete</mat-icon>
                        Remover último elemento adicionado à linha
                    </button>

                    <button mat-raised-button color="primary" (click)="confirmLine()" [disabled]="isConfirmDisabled">
                        <mat-icon>check</mat-icon> Confirmar</button>
                    }
                    @else {
                    <p>Parabéns por concluir este exercício com sucesso!</p>
                    <button mat-raised-button color="accent" (click)="onBackToExerciseListActivated()">Voltar para Lista
                        de exercícios</button>
                    }
                </div>

            </div>

        </div>
    </mat-card-content>

    <mat-card-actions align="end"> <!-- Added this section for success/error messages -->

        @if (showStatusMessage=="success"){
        <div role="alert" class="success-message">
            <mat-icon>check_circle</mat-icon> Linha {{currentLineIndex}} formada corretamente!
        </div>
        }
        @if(showStatusMessage=="fail"){
        <div role="alert" class="error-message">
            <mat-icon>error</mat-icon> Linha {{currentLineIndex + 1}} não formada corretamente. Remova os elementos e os
            coloquem na ordem correta.

        </div>

        }
    </mat-card-actions>
</mat-card>
}