.exercise-statement {
    margin-bottom: 20px;
    /* Add spacing below the statement */
}

.shuffled-elements-area ul li {
    /* Style for shuffled buttons if needed */
    margin-bottom: 10px;
}


.success-message {
    color: green;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.error-message {
    color: red;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}