@if(exercise){
<mat-card>
    <mat-card-header class="container align-row-around">

        <h2 mat-card-subtitle tabindex="-1" #exerciseTitle>Exercício {{exercise.number}}</h2>

        <button mat-raised-button color="accent" (click)="onBackToExerciseListActivated()">
            <mat-icon>arrow_back</mat-icon> Fechar exercício</button>

    </mat-card-header>
    <mat-card-content>

        <div id="container-exercise-execution-content" class="container">
            <div class="item-60 container-column center" [innerHTML]="trustedExerciseStatement"></div>
            <div id="area-line-formation" class="item-40 container-column center">
                <div class="shuffled-elements-area container-column center">
                    <h3>Elementos embaralhados</h3>
                    <ul mat-list>
                        @for(element of shuffledElements; track $index; let i = $index){
                        <mat-list-item>
                            <button [id]="'shuffled-element-' + i" mat-stroked-button
                                (click)="addElementToFormedLine(element)">{{ element
                                }}</button>
                        </mat-list-item>
                        }
                        @empty {
                        <mat-list-item tabindex="-1" id="empty-shuffled-element-list" role="alert">Todos os
                            elementos foram
                            adicionados.</mat-list-item>
                        }
                    </ul>
                </div>

                <div id="elements-added-area" class="container-column center">
                    @if(!isExerciseCompleted){
                    @if(formedLine){
                    <ul mat-list>
                        <mat-list-item>{{formedLine}}</mat-list-item>
                    </ul>

                    }
                    @else {
                    <ul mat-list>
                        <mat-list-item>Nenhum elemento adicionado</mat-list-item>
                    </ul>
                    }
                    <div class="container align-row-between">
                        <div><button mat-icon-button color="warn" (click)="removeElementFromFormedLine()"
                                [disabled]="!formedLine"
                                aria-label="Remover último elemento adicionado"><mat-icon>delete</mat-icon></button>
                        </div>

                        <div><button class="item" mat-raised-button color="primary" (click)="confirmLine()"
                                [disabled]="isConfirmDisabled">
                                <mat-icon>check</mat-icon> Confirmar</button></div>

                    </div>
                    }
                    @else {
                    <div class="container-column center">
                        <div>
                            <p>Parabéns por concluir este exercício com sucesso!</p>
                        </div>
                        <div class="container align-row-around">
                            <div><button mat-raised-button color="accent" (click)="onBackToExerciseListActivated()">
                                    <mat-icon>arrow_back</mat-icon>
                                    Voltar para Lista de exercícios</button></div>
                            @if(isNextExerciseAvailable){
                            <div><button mat-raised-button color="accent" (click)="emitNextExercise()">
                                    <mat-icon>arrow_forward</mat-icon>
                                    Próximo exercício</button></div>

                            }
                        </div>

                    </div>
                    }
                </div>

                <div id="status-msg-area" class="container-column center">
                    @if (showStatusMessage=="success"){
                    <div role="alert" class="success-message">
                        <mat-icon>check_circle</mat-icon> Linha {{currentLineIndex}} formada corretamente!
                    </div>
                    }
                    @else if(showStatusMessage=="fail"){
                    <div role="alert" class="error-message">
                        <mat-icon>error</mat-icon> Linha {{currentLineIndex + 1}} não formada corretamente. Remova os
                        elementos e os coloquem na ordem correta.

                    </div>

                    }
                    @else {<div></div>}
                </div>

                <div id="formed-lines" class="container-column center">
                    <h3>Linhas formadas:</h3>
                    <ol mat-list>
                        @for(line of formedLinesCorrectly; track $index){
                        <mat-list-item>{{ line }}</mat-list-item>
                        }
                        @empty {
                        <mat-list-item>Nenhuma linha formada ainda...</mat-list-item>
                        }
                    </ol>
                </div>

            </div>

        </div>

    </mat-card-content>

</mat-card>
}