<mat-card>
  <mat-card-header class="container align-row-around">
    <h1 mat-card-title>Entrar no sistema</h1>
    <button mat-raised-button color="primary" (click)="loginWithGoogle()" type="button">
      <mat-icon>account_circle</mat-icon>
      Entrar com Google
    </button>
  </mat-card-header>
  <mat-card-content>

    <form>
      <mat-form-field appearance="outline">
        <mat-label>Informe seu e-mail:</mat-label>
        <input matInput type="email" id="email" name="email" [(ngModel)]="email" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Informe sua senha:</mat-label>
        <input matInput type="password" id="password" name="password" [(ngModel)]="password" required>
      </mat-form-field>

      @if(loginError){
      <div class="error-message" role="alert">
        <mat-icon>error</mat-icon> {{ loginError }}
      </div>
      }

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()" type="submit"><mat-icon>login</mat-icon> Entrar no
      sistema</button>

  </mat-card-actions>
</mat-card>