@if(!selectedExercise){
<h2>{{title}}</h2>

@if((exercises$|async)){
<div>
    @for(exercise of exercises; track exercise.id){
    <div>
        <button mat-raised-button color="primary" [id]="exercise.id" (click)="onSelectExercise(exercise)">
            <mat-icon>code</mat-icon> <!-- Add the icon -->
            @if(exercise.id && resolutions.includes(exercise.id)) {
            Resolvido Exercício {{exercise.number}}
            }
            @else {
            Abrir Exercício {{exercise.number}}
            }


        </button>
    </div>
    }

</div>
}
}
@if(selectedExercise){
<app-exercise-execution (backToExerciseList)="onBackToExerciseList()"
    [exercise]="selectedExercise"></app-exercise-execution>

}