<mat-card class="container-column center">
    @if(!selectedExercise){
    <h2 mat-card-title>{{title}}</h2>

    @if((exercises$|async)){
    <mat-card-content>
        <div class="container-column center">
            <mat-list>
                @for(exercise of exercises; track exercise.id){
                <mat-list-item>

                    @if (exercise.id && moduleId && resolutions[moduleId] &&
                    resolutions[moduleId].includes(exercise.id)) {
                    <mat-icon>check_circle</mat-icon>
                    <button class="m-10" mat-raised-button color="primary" [id]="exercise.id"
                        (click)="onSelectExercise(exercise)">
                        Resolvido Exercício {{exercise.number}}
                    </button>
                    } @else {
                    <mat-icon>radio_button_unchecked</mat-icon>
                    <button class="m-10" mat-raised-button color="primary" [id]="exercise.id"
                        (click)="onSelectExercise(exercise)">
                        Abrir Exercício {{exercise.number}}
                    </button>
                    }
                </mat-list-item>
                }
                @empty { <mat-list>Nenhum exercício disponível.</mat-list> }
            </mat-list>
        </div>
    </mat-card-content>
    }
    }
</mat-card>
@if(selectedExercise){
<app-exercise-execution (backToExerciseList)="onBackToExerciseList()"
    [exercise]="selectedExercise"></app-exercise-execution>

}